{% extends 'base.html' %}

<div>
  {% block body %}
  <div class="row">
    <div class="col mt-4">
      {% for item in news%}

      <div class="card">
  <div class="card-header">{{ item.category }}</div>
  <div class="card-body">
    <div class="row">
      <div class="col-4 text-center">
        {% if item.photo %}
          {% if item.photo.url|lower|slice:'-4:' == ".mp4" %}
            <video width="250" controls class="rounded shadow">
              <source src="{{ item.photo.url }}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          {% else %}
            <img src="{{ item.photo.url }}" alt="" width="350" class="rounded shadow">
          {% endif %}
        {% else %}
          <img src="http://picsum.photos/350" alt="No image" width="350" class="rounded shadow">
        {% endif %}
      </div>
    </div>
  </div>
</div>


            <div class="col-8">
              <h5 class="card-title">{{item.title}}</h5>
              <p class="card-text">
                {{item.context | safe | linebreaks | truncatewords:20}}
              </p>
              <a href="{% url 'new_about' item.pk %}" class="btn btn-primary"
                >Batafsil...</a
              >
            </div>
          </div>
        </div>

        <div class="card-footer text-muted">
          {{item.created_ed | date:'Y-m-d'}}
        </div>
      </div>

      {% endfor %}
    </div>
  </div>
  {% endblock %}
</div>
